body {
   font-size: 70%;
}

a, a:visited {
   color: var(--color-link);
   text-decoration: none;
}

a:hover, a:active {
   color: var(--color-attention);
}

fieldset {
   margin-bottom: 1em;
   border: 1px solid var(--color-monochrome-neutral);
}

fieldset > legend {
   font-size: 110%;
}

fieldset > div {
   margin-bottom: 1em;
}

fieldset > div:last-child {
   margin-bottom: 0;
}

input, button, select {
   color: var(--color-text);
}

th {
   text-align: left;
}

th, td {
   padding-left: 10px;
   padding-top: 2px;
   white-space: nowrap;
}

.invalid {
   outline: 2px groove var(--color-attention);
}

.errmsg {
   color: var(--color-attention);
}

#currentSizeContainer {
   margin-top: 0.5em;
}

#currentSize, #quickResizeInfo {
   color: var(--color-link);
   cursor: pointer;
}

#currentSize:hover, #quickResizeInfo:hover {
   color: var(--color-attention);
}

#quickResizeInfo {
   cursor: help;
}

.imgDown, .imgUp {
   cursor: pointer;
}

.danger {
   text-dectoration: italic;
   color: var(--color-attention);
}

#theAdvanced {
   display: none;
}
