fieldset {
   margin-bottom: 1em;
}

fieldset > div {
   margin-bottom: 1em;
}

fieldset > div:last-child {
   margin-bottom: 0;
}

th {
   text-align: left;
}

th, td {
   padding-left: 10px;
   padding-top: 2px;
   white-space: nowrap;
}

.invalid {
   outline: 2px groove red;
}

.errmsg {
   color: red;
}

#currentSizeContainer {
   margin-top: 0.5em;
}

#currentSize, #getCurrentSize, #quickResizeInfo {
   color: rgb(0, 0, 238);
   cursor: pointer;
}

#quickResizeInfo {
   cursor: help;
}

.imgDown, .imgUp {
   cursor: pointer;
}

.danger {
   text-dectoration: italic;
   color: red;
}

#theAdvanced {
   display: none;
}

.comingSoon {
   color: grey;
}
