th {
   text-align: left;
}

th, td {
   padding-left: 10px;
   padding-top: 2px;
   white-space: nowrap;
}

.invalid {
   outline: 2px groove red;
}

.errmsg {
   color: red;
}

#currentSizeContainer {
   margin-top: 0.5em;
}

#currentSize, #getCurrentSize {
   color: rgb(0, 0, 238);
   cursor: pointer;
}

.imgDown, .imgUp {
   cursor: pointer;
}
