a {
   display: inline-block;
   width: 100%;
   padding: 3px;
   color: black;
   font-size: 120%;
   text-decoration: none;
}

a:hover {
   background-color: lightgrey;
}

.panel {
  margin: 5px;
}

.presetIndex {
   text-align: right
}
